<% provide(:title, 'About') %>
<div class="container bodycontainer textbody">
  <div class="row" id="about">
    <div class="col-md-8">
    <h1 class="text-center">About Max</h1>
    <p>My name is Max Tietze and I'm a musician, educator and web developer based in Westchester County, New York. I built this website as a resource for my students and as a way to share the original music I have created since I first started learning guitar. My life so far has been defined by my passions, so let me tell you about some of them.</p>
    <p> I first picked up a guitar at 13 years old after seeing my cousin Ben Blieden play Come as You Are and Polly on his acoustic. During my high school years, I became very focused on guitar, and I would practice as many hours a day as I could fit in. Initially, I was inspired by bands such as The Red Hot Chili Peppers and Nirvana. I began studying music with Brian Christopher, who provided me with a strong basis in music theory and form. I played in several bands throughout high school, the most memorable of which was Solar Tides, which existed from 2004-2006. We gained a local following and put on some great live shows playing original music.</p>
    <p> After a few years, I began taking on students of my own and discovered a love of teaching. Working with motivated students continues to bring me great joy and satisfaction. I have enjoyed teaching both music and languages professionally and as a volunteer.</p>
    <p>Through the years, my musical tastes have expanded as I discovered more technical artists such as Dream Theater, Liquid Tension Experiment, Paul Gilbert and Kamelot. I began to listen to great jazz players like John Coltrane, Charlie Parker and Joe Pass. I enjoy combining technical styles with funky and improvisational music. I have always been drawn to melodies, and I will listen to anything with a good tune.</p>
    <p>If you listen to the songs on this site, you may wonder why some of them are in Spanish. As a senior in high school, my favorite class was AP Spanish, and after graduating I took a trip to Costa Rica for three weeks to study Spanish and explore the country. I have visited Latin America and Spain several times since then, including a year I spent as an exchange student in Cholula, Mexico.</p>
    <p>During my college years at Stony Brook University, I played in the bands Ridiculous Renegades and later Mother F'Nature. The Renegades was a progressive instrumental band, which was a lot of fun to compose for. Mother F'Nature was a female-fronted pop/dance/rock band, which gained a strong following on campus and won back to back Stony Brook Battle of the Bands. I graduated from the Honors College with a near-perfect GPA and decided that I had had enough of formal education. I am a firm believer in the power of the internet and self-driven education over more traditional forms.</p>
    <p>Beginning around 2006, I wrote and recorded many songs on my own, using an M-box and Pro Tools on my laptop. As of 2014, I have started using Logic Pro X on a mac, and it's electronic instrument capabilities have really opened up the possibilites for me to create full-band arrangements by myself.</p>
    <p>One more important aspect of my life is the card game Magic: the Gathering. I have been playing this game since I was 10 years old, and it has given me many opportunities that I never would have had otherwise. Aside from honing my strategic and critical thinking skills, it has allowed me to travel all over the world, and win money while doing so.</p>
    <p>My most recent passion is computer programming and it is the reason that this website exists. My good friend Ozzie Smith, who is a programmer himself, suggested to me several times that I try it, and when I finally decided to check out Codeacademy.com I was hooked. Since 2012, programming has provided me with an outlet that combines my love of learning, creativity and analytical thinking.</p>
    <p>I built this site using Coffeescript, Ruby on Rails and Twitter Bootstrap, among other tools. I incorporated midi into the site with the MIDI.js library found at <a href= 'https://github.com/mudcube/MIDI.js'>https://github.com/mudcube/MIDI.js</a></p>
    <p>For those interested, the code for maxtietzemusic.com can be found at <a href= 'https://github.com/MTietze/Max-music'>https://github.com/MTietze/Max-music</a>. I welcome any suggestions or contributions.</p>
    <p>I am happy to provide my music and the practice exercises on this website for free for anyone to enjoy. Building this website was a great learning experience for me, and I am excited to share my music with the world. However, donations of any amount are appreciated, as Baxter has requested more and better-tasting treats.</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="RRHEW7UX86E2N">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    </div>
    <div class="col-md-4">
    <%= image_tag "me.jpg" %>
    <%= image_tag "amp.jpg" %>
    <%= image_tag "baxter.jpg", title:"Baxter" %>
    </div>
  </div>
</div>