<% provide(:title, 'Contact') %>
<div class="container bodycontainer textbody" id="contactbody">
  <div class="row" title="Photo: Email by SlowMath"></div>
    <div class="row">
      <div class="col-xs-12" >
        <div id="contact_text">
          <h1>Please contact me at max@maxtietzemusic.com if</h1>
          <ul>
            <li>You would like info about guitar lessons in the Mamaroneck, NY area or via Skype</li>
            <li>You would like me to build a website or do web developent work</li>
            <li>You would like to book me with or without a group to perform any type of music</li>
            <li>You would like to contract me to compose, produce, or otherwise create music</li>
            <li>You have questions, comments, or suggestions related to this website</li>
          </ul>
        </div>
      </div>
    </div>
  <div class="row" title="Photo: Email by SlowMath"></div>
</div>