<% provide(:title, 'Contact') %>
<div class="container bodycontainer textbody">
  <div class="row">
    <div class="col-xs-12" >
      <div id="contact">
        <div class="text-center"><%= image_tag "email.jpg", title: "Photo: Email by SlowMath"%></div>
          <div id="contact_text">
            <h1>Please contact me at <b>max@maxtietzemusic.com</b> if</h1>
            <ul>
              <li>You would like info about guitar lessons in the Mamaroneck, NY area or via Skype</li>
              <li>You would like me to build a website or do web developent and/or design work</li>
              <li>You would like to book me with or without a group to perform any type of music</li>
              <li>You would like to contract me to compose, produce, or otherwise create music</li>
              <li>You have questions, comments, or suggestions related to this website</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>