<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48981524-1', 'maxtietzemusic.com');
  ga('send', 'pageview');

</script>
<div id="cassette">
  <div id='home_title_container' class="text-center">
    <div id= "home_title">  Max Tietze Music</div>
  </div>
  <div id='spinner_container' class="text-center">
    <div class= 'spinner' id='spinner_left'>
      <a href = "<%= songs_path %>" class="home_button">
        <span></span>
        <span>Listen</span>
        <span>Stream and Download Original Music</span>
      </a>
    </div>
    <div class= 'spinner' id= 'spinner_right'>
      <a href = "<%= music_training_path %>" class="home_button">
        <span></span>
        <span>Learn</span>
        <span>Ear Training and Theory Quizzes</span>
      </a>
    </div>
  </div>
</div>








