<div id="cassette">
  <div id='spinner_container' class="text-center">
    <div class= 'spinner' id='spinner_left'>
      <a href = "<%= songs_path %>" class="home_button">
        <span></span>
        <span>Listen</span>
        <span>Stream and Download Original Music</span>
      </a>
    </div>
    <div class= 'spinner' id= 'spinner_right'>
      <a href = "<%= music_training_path %>" class="home_button">
        <span></span>
        <span>Learn</span>
        <span>Ear Training and Theory Quizzes</span>
      </a>
  </div>
</div>








