<div id="row_home">
  <div id="cassette">
  <div class='row'>
<div id= "home_title">  Max Tietze Music World </div>
  </div>
  <div class=row>
  <div class= 'col-xs-6 slider' id='slider_left'>
    <a href = "<%= songs_path %>" class="home_button">
      <span></span>
      <span>Listen</span>
      <span>Stream and Download Original Music</span>
    </a>
  </div>
  <div class= 'col-xs-6 slider' id= 'slider_right'>
    <a href = "<%= music_training_path %>" class="home_button">
      <span></span>
      <span>Learn</span>
      <span>Ear Training and Theory Quizzes</span>
    </a>
  </div>
  </div>
  </div>
</div>









<!-- <div class='col-sm-6 col-sm-offset-1'>
   <p id= "intro"> This website is dedicated to all things musical in my world. You will find here recordings of original music dating back to 2004, as well as ear training and theory  practice tools which I designed and created. I have been studying music for 15 years and teaching for 10. For information on lessons please check out the contact link. Ding ding  doodle. Derbert.</p>
 </div>
 <div class='col-sm-5'>
   <%= image_tag 'amp.jpg', id: 'amp', class: "img-responsive"%>
 </div> -->