<div class="row">
 <div class='col-sm-6 col-sm-offset-1'>
   <p id= "intro"> This website is dedicated to all things musical in my world. You will find here recordings of original music dating back to 2004, as well as ear training and theory  practice tools which I designed and created. I have been studying music for 15 years and teaching for 10. For information on lessons please check out the contact link. Ding ding  doodle. Derbert.</p>
 </div>
 <div class='col-sm-5'>
   <%= image_tag 'amp.jpg', id: 'amp', class: "img-responsive"%>
 </div>
</div>