<% provide(:title, 'Music Training') %>
<div class="container bodycontainer">
  <div class="row">
    <div class= 'col-xs-12' id="checkcolumn">
      <h1 id= "options-title"> Options | </h1>
      <label>
        <input type="checkbox" id= "randomKeys"> Random keys
      </label>
      <label>
        <input type="checkbox" id= "major" checked> Major intervals
      </label>
      <label>
        <input type="checkbox" id= "minor"> Minor intervals
      </label>
      <label>
        <input type="checkbox" id= "other" checked> Perfect intervals
      </label>
    </div>
  </div>
  <div class="row" >
    <div class="col-xs-12">
        <div class= 'text-center'>
          <div class="btn-group" id= 'typeQuiz'>
            <button type="button" class="btn btn-default currentQuiz quiz ear-quiz">Intervals</button>
            <button type="button" class="btn btn-default quiz ear-quiz">Chords</button>
            <button type="button" class="btn btn-default quiz ear-quiz">Scales</button>
          </div>
          <div class="btn-group-vertical pull-right" id= 'typeTraining'>
            <button type="button" id='earTraining' class="btn btn-default currentTraining">Ear Training</button>
            <button type="button" id='theoryTraining' class="btn btn-default">Theory Training</button>
          </div>
          <div class="row" id="quizrow">
            <div class="btn-group" id= 'play'>
              <button type="button" id= 'quiz' class= 'btn btn-default btn-md quiz ear-quiz'>Quiz me!</button>
            </div>
            <div id='quizbody' class='hidden'>
              <div id="question"></div>
              <div id= "evaluation"></div>
              <form id="quizform" class="hidden" ><input type="text" id="answer" autocomplete="off">
                <button class="btn btn-sm btn-primary" id="submitanswer">Submit</button>
              </form>
            </div>
          </div>
        </div>
    </div>   
  </div>
</div>