<% provide(:title, 'Music Training') %>
<div class="container bodycontainer">
  <div class="row" id="checkrow">
  <div class="navbar navbar-default" role="navigation">
    <div class="col-xs-12" id="optionsbox">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#checkcolumn">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <h1 id= "options-title"> Options</h1>
      </div>
      <div class= 'navbar-collapse collapse' id="checkcolumn">
        <label>
          <input type="checkbox" id= "randomKeys"> 
          <p> Random keys </p>
        </label>
        <label>
          <input type="checkbox" id= "major" checked> 
          <p>Major intervals</p>
        </label>
        <label>
          <input type="checkbox" id= "minor"> 
          <p>Minor intervals</p>
        </label>
        <label>
          <input type="checkbox" id= "other"> 
          <p>Perfect intervals</p>
        </label>
      </div>
    </div>
    </div>
  </div>
  <div class="row" id="trainingrow" >
    <div class="col-xs-12">
        <div class= 'text-center'>
          <div class="btn-group" id= 'typeQuiz'>
            <button type="button" class="btn btn-default currentQuiz quiz ear-quiz">Intervals</button>
            <button type="button" class="btn btn-default quiz ear-quiz">Chords</button>
            <button type="button" class="btn btn-default quiz ear-quiz">Scales</button>
          </div>
          <div class="row">
          <div class="btn-group" id= 'typeTraining'>
            <button type="button" id='earTraining' class="btn btn-default currentTraining">Ear Training</button>
            <button type="button" id='theoryTraining' class="btn btn-default">Theory Training</button>
          </div>
          </div>
          <div class="row" id="quizrow">
            <div class="btn-group" id= 'play'>
              <button type="button" id= 'quiz' class= 'btn btn-default btn-md quiz ear-quiz'>Quiz me!</button>
            </div>
            <div id='quizbody' class='hidden'>
              <div id="question"></div>
              <div id= "evaluation"></div>
              <form id="quizform" class="hidden" ><input type="text" id="answer" autocomplete="off">
                <button class="btn btn-sm btn-primary" id="submitanswer">Submit</button>
              </form>
            </div>
          </div>
        </div>
    </div>   
  </div>
</div>