<div class="row" id="checkrow">
  <div class="navbar navbar-default" role="navigation">
    <div id="optionsbox">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#checkcolumn">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1 id= "options-title"> Options</h1>
      </div>
      <div class= 'navbar-collapse collapse' id="checkcolumn">
        <label>
          <input type="checkbox" id= "randomKeys"> 
          <p> Random keys </p>
        </label>
        <label>
          <input type="checkbox" id= "major" ng-model="options.major" checked> 
          <p>Major intervals</p>
        </label>
        <label>
          <input type="checkbox" id= "minor" ng-model="options.minor"> 
          <p>Minor intervals</p>
        </label>
        <label>
          <input type="checkbox" id= "other" ng-model="options.other"> 
          <p>Perfect intervals</p>
        </label>
      </div>
    </div>
  </div>
</div>
 <div class="row">
    <div class="col-xs-12">
      <div class= 'text-center'>
        <div class="btn-group" id= 'typeQuiz'>
          <button type="button" class="btn btn-default  quiz ear-quiz" ng-class="{'currentQuiz': $stateParams.questionType === 'intervals'}" ng-click="changeQuestionType('intervals')">Intervals</button>
          <button type="button" class="btn btn-default quiz ear-quiz" ng-class="{'currentQuiz': $stateParams.questionType === 'chords'}" ng-click="changeQuestionType('chords')">Chords</button>
          <button type="button" class="btn btn-default quiz ear-quiz" ng-class="{'currentQuiz': $stateParams.questionType === 'scales'}" ng-click="changeQuestionType('scales')">Scales</button>
        </div>
        <div class="row">
        <div class="btn-group" id= 'typeTraining'>
          <button type="button" id='earTraining' class="btn btn-default" ng-class="{'currentTraining': $state.current.name === 'ear'}" ng-click="changeTrainingType('ear')">Ear Training</button>
          <button type="button" id='theoryTraining' class="btn btn-default"  ng-class="{'currentTraining': $state.current.name === 'theory'}" ng-click="changeTrainingType('theory')">Theory Training</button>
        </div>
        </div>
        <p id="performance" class="text-center">Use Google Chrome for best performance. Confused? Check out <%= link_to "getting started", getting_started_path %></p>
        <div class="row" id="quizrow" ng-show="$state.current.name === 'ear'">
          <div class="btn-group" id= 'play'>
            <button type="button" id= 'quiz' class= 'btn btn-default btn-md quiz ear-quiz' ng-click='quiz($state.current.name)'>Quiz me!</button>
          </div>
          <div id='quizbody'>
            <div class="question" >
              <div id= 'scales' class="col-xs-4 col-xs-offset-4" ng-show= "$stateParams.questionType === 'scales'"> 
                <button href='#' class= 'btn btn-large choice' ng-hide="correctAnswer && scale.quality !== correctAnswer" ng-class="{'wrong': wrongAnswers[scale.quality], 'correct-answer': correctAnswer === scale.quality, 'btn-primary': correctAnswer !== scale.quality}" ng-repeat="scale in scales" ng-click="chooseScale(scale)" >{{scale.quality}}</button>
              </div>
              <div ng-hide="$stateParams.questionType === 'scales'">
                <div id= 'majorButtons' class="col-sm-4" ng-class="{'col-sm-offset-2': isFirstCol('major')}" ng-show= "options.major"> 
                  <button href='#' class= 'btn btn-large choice' ng-class="{'wrong': wrongAnswers[interval], 'correct-answer': correctAnswer === interval, 'btn-primary':   correctAnswer !== interval}" ng-hide="correctAnswer && interval !== correctAnswer" ng-repeat="interval in majorIntervals">{{interval}}</button>
                </div>
                <div id= 'minorButtons' class="col-sm-4" ng-class="{'col-sm-offset-2': isFirstCol('minor')}" ng-show= "options.minor"> 
                <button href='#' class= 'btn btn-large choice' ng-class="{'wrong': wrongAnswers[interval], 'correct-answer': correctAnswer === interval, 'btn-primary':   correctAnswer !== interval}" ng-hide="correctAnswer && interval !== correctAnswer" ng-repeat="interval in minorIntervals">{{interval}}</button>
                </div>
                <div id= 'otherButtons' class="col-sm-4" ng-show= "options.other"> 
                <button href='#' class= 'btn btn-large choice' ng-class="{'wrong': wrongAnswers[interval], 'correct-answer': correctAnswer === interval, 'btn-primary':   correctAnswer !== interval}" ng-hide="correctAnswer && interval !== correctAnswer" ng-repeat="interval in otherIntervals">{{interval}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>