<div class="row" id="checkrow">
  <div class="navbar navbar-default" role="navigation">
    <div id="optionsbox">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#checkcolumn">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1 id= "options-title"> Options</h1>
      </div>
      <div class= 'navbar-collapse collapse' id="checkcolumn">
        <label>
          <input type="checkbox" id= "randomKeys" ng-model="options.randomKeys"> 
          <p> Random keys </p>
        </label>
        <label ng-repeat="(quality, value) in options[$stateParams.questionType]">
          <input type="checkbox"  ng-model="options[$stateParams.questionType][quality]"> 
          <p> {{getOptionsText()[quality]}}</p>
        </label>
      </div>
    </div>
  </div>
</div>
 <div class="row">
    <div class="col-xs-12">
      <div class= 'text-center'>
        <div class="btn-group" id= 'typeQuiz'>
          <button type="button" class="btn btn-default  quiz ear-quiz" ng-class="{'currentQuiz': $stateParams.questionType === 'intervals'}" ng-click="changeQuestionType('intervals')">Intervals</button>
          <button type="button" class="btn btn-default quiz ear-quiz" ng-class="{'currentQuiz': $stateParams.questionType === 'chords'}" ng-click="changeQuestionType('chords')">Chords</button>
          <button type="button" class="btn btn-default quiz ear-quiz" ng-class="{'currentQuiz': $stateParams.questionType === 'scales'}" ng-click="changeQuestionType('scales')">Scales</button>
        </div>
        <div class="row">
        <div class="btn-group" id= 'typeTraining'>
          <button type="button" id='earTraining' class="btn btn-default" ng-class="{'currentTraining': $state.current.name === 'ear'}" ng-click="changeTrainingType('ear')">Ear Training</button>
          <button type="button" id='theoryTraining' class="btn btn-default"  ng-class="{'currentTraining': $state.current.name === 'theory'}" ng-click="changeTrainingType('theory')">Theory Training</button>
        </div>
        </div>
        <p id="performance" class="text-center">Use Google Chrome for best performance. Confused? Check out <%= link_to "getting started", getting_started_path %></p>
        <div class="row" id="quizrow" ng-show="$state.current.name === 'ear'">
          <div class="btn-group" id= 'play'>
            <button type="button" id= 'quiz' class= 'btn btn-default btn-md quiz ear-quiz' ng-click='quiz($state.current.name)'>Quiz me!</button>
            <button ng-show="answer" type="button" class= "btn btn-default btn-md" ng-click='hearNotes()'>Hear again</button>
          </div>
          <div id='quizbody'>
            <div class="question" >
              <div id= 'scales' class="col-xs-4 col-xs-offset-4" ng-show= "$stateParams.questionType === 'scales' && answer && !correctAnswer"> 
                <button href='#' class= 'btn btn-large choice' ng-hide="correctAnswer && scale.quality !== correctAnswer" ng-class="{'wrong':  wrongAnswers.indexOf(scale.quality) > -1, 'correct-answer': correctAnswer === scale.quality, 'btn-primary': correctAnswer !== scale.quality}" ng-repeat="scale in scales" ng-click="chooseAnswer(scale.quality)" >{{scale.quality}}</button>
              </div>
              <div ng-show="$stateParams.questionType === 'intervals' && !correctAnswer">
                <div  ng-class="{'col-sm-offset-2': isFirstCol(column), 'col-sm-12': coltotal===1 || correctAnswer,'col-sm-4': coltotal !==1 && !correctAnswer}" ng-show= "showColumn[column]" ng-repeat="column in columns"> 
                  <button href='#' class= 'btn btn-large choice' ng-class="{'wrong': wrongAnswers.indexOf(intervals[interval]) > -1, 'correct-answer': correctAnswer === interval, 'btn-primary': correctAnswer !== interval}"  ng-click="chooseAnswer(intervals[interval])" ng-repeat="interval in intervalPatterns[column]">{{intervals[interval]}}</button>
                </div>
              </div> 
              <div id="chord-columns" ng-show="$stateParams.questionType === 'chords' && !correctAnswer">
                <div  ng-class="{'col-sm-offset-2': column === 'major', 'col-sm-12': coltotal===1 || correctAnswer || column === 'other','col-sm-4': coltotal !==1 && !correctAnswer && column !== 'other'}" ng-repeat="column in columns"> 
                  <button href='#' class= 'btn btn-large choice chord-choice' ng-class="{'wrong': wrongAnswers.indexOf(chord) > -1, 'correct-answer': correctAnswer === chord, 'btn-primary': correctAnswer !== chord}"  ng-click="chooseAnswer(chord)" ng-repeat="chord in chordColumns[column]" ng-bind-html="chord1.romanCode + ' - ' + chord.romanCode"></button>
                </div>
              </div>
              <div class="col-xs-12" ng-class="{'chord-choice': $stateParams.questionType === 'chords'}" ng-show="correctAnswer && $stateParams.questionType !== 'chords'">
                <button href='#' class= 'btn btn-large choice correct-answer' ng-bind-html="correctAnswer"></button>
              </div>
              <div class="col-xs-12" ng-class="{'chord-choice': $stateParams.questionType === 'chords'}" ng-show="correctAnswer && $stateParams.questionType === 'chords'">
                <button href='#' class= 'btn btn-large choice correct-answer' ng-bind-html="chord1.romanCode + ' - ' + correctAnswer.romanCode"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>