@import "bourbon"; 
$borderblack: rgba(19, 18, 18, 0.94);
$mainGreen: #006600; 
$mainFont: 'Audiowide', cursive;
$containerbg: rgba(125, 149, 160, 1);
$btn-primary-bg: $containerbg;
$btn-info-bg: rgba(240, 248, 255, 0.23);
$bodybg: rgb(127, 180, 114);
$navbar-default-bg: rgba(245, 245, 220, 0.16); 
@import "bootstrap";

@mixin flex-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  } 
 
html, body{
  height: 100%; 
}

body {
  background-color: $bodybg; 
}

.btn {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 3px 3px 20px black;
    width: 150px;
    &:focus, &:hover{
      outline: none; 
      border-color: black;
    } 

  }

.bodycontainer {
  background-color: $containerbg; 
  height: 100%;
  padding-top: 50px;
  box-shadow: 9px 10px 100px 10px $mainGreen;
}

//navigation bar

.navbar-collapse {
  font-size: large;
  }

#title {
  font-family: $mainFont;
  color: $mainGreen;
  text-decoration: none;
  font-size: x-large;
}

//home page 
#cassette{
  @include flex-center;
  height: 600px;
  width: 900px;
  background-color: black;
  margin: 7% auto 0;
  border-radius: 10%;
  border: 20px gray solid;
  box-shadow: 30px 0px 10px 10px;
  position: relative; 
  #home_title_container{
    position: absolute;
    left: 25%;
    top: 2%;
  }
  #spinner_container{
    position: relative;
    top: 7%;
  }
}

#home_title{
  font-family: $mainFont;
  color: $mainGreen;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: -20px;
}

.spinner { 
  @include flex-center;
  margin: 10% auto;
  background-color: $containerbg; 
  border-radius: 75%;
  border: 10px solid black;
  box-shadow: 5px 5px 8px 20px #5943CC;
  position:relative; 
  display: inline-block; 
}
.home_button{
   width:300px;
   height:300px;
   border-radius:50%;
   display:block;
   margin:20px;
   float:left;
   background: black;
   position:relative;
   box-shadow:0px 0px 5px 0px rgba(15, 15, 15, 0.25) inset, 0px -1px 5px 4px rgba(44, 39, 39, 0.46) inset, 0px 0px 0px 7px rgba(0, 0, 0, 0), 0px 0px 1px 8px rgba(22, 21, 21, 0.91), 0px 0px 0px 9px rgba(49, 48, 48, 0.72);
   @include transition (all 0.3s linear);
}
.home_button span{
    display:table-cell;
    width:300px;
    height:300px;
    padding:20px;
    text-align:center;
    vertical-align:middle;
    font-size:26px;
    color:#fff;
    text-shadow:0px 1px 1px #A03F16;
    font-family:"Arvo", "Myriad Pro", "Trebuchet MS", sans-serif;
    @include transition (all 0.3s linear);
}


.home_button span:nth-child(1), 
.home_button span:nth-child(3){
    position:absolute;
    top:0px;
    left:0px;
    font-size:35px;
    line-height:36px;
    opacity:0;
}

.home_button span:nth-child(1){
    background:transparent asset-url("star.png") no-repeat center center;
    background-size: 240px 240px;
    opacity:0.2;
}
.home_button:hover{
    background: $mainGreen;
    box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.1) inset, 0px 0px 0px 7px rgba(255, 255, 255, 0.17), 1px 4px 5px 8px rgba(243, 240, 240, 0.24), 0px 0px 0px 9px rgba(255, 255, 255, 0.38);
}
.home_button:hover span:nth-child(3){
    opacity:1;
}
.home_button:hover span:nth-child(2){
    opacity: 0; 
    @include transform (scale(0));
}
.home_button:hover span:nth-child(1){
    @include animation (rotate 1s linear);
}
.home_button:active{
    box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  0px -1px 0px 8px rgba(188, 188, 188, 0.3), 0px 0px 0px 10px #fff;
}
.home_button:active span:nth-child(2){
    color:rgba(170, 77, 27, 0.8);
    text-shadow:0px 1px 1px rgba(255, 255, 255, 0.6);
}

#spinner_left{
  left: -4%;
  .home_button span:nth-child(3){
    margin: 25% 0 0 -7px; 
  }
}
#spinner_right{
  right: -3%;
  .home_button span:nth-child(3){
    margin: 30% 0 0 -7px; 
  }
}

@include keyframes (rotate){
    0% { @include transform (scale(1) rotate(0));}
    50% { @include transform (scale(0.5) rotate(180deg));}
    100% { @include transform (scale(1) rotate(360deg));}
}

@media (max-width: 1000px){
  #cassette{
    height: 300px;
    width: 450px;
    border: 10px gray solid;
    box-shadow: 15px 0px 5px 5px;
    margin: 10% auto 0;

  }
  #home_title{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -10px;
  }
  .spinner { 
    border: 5px solid black;
    box-shadow: 5px 5px 8px 10px #5943CC;
  }
  .home_button{
     width:150px;
     height:150px;
     margin:10px;
     box-shadow:0px 0px 2px 0px rgba(15, 15, 15, 0.25) inset, 0px -1px 3px 2px rgba(44, 39, 39, 0.46) inset, 0px 0px 0px 3px rgba(0, 0, 0, 0), 0px 0px 1px 4px rgba(22, 21, 21, 0.91), 0px 0px 0px 5px rgba(49, 48, 48, 0.72);
  }
  .home_button span{
      width:150px;
      height:150px;
      padding:10px;
  }
  .home_button span:nth-child(1), 
  .home_button span:nth-child(3){
      font-size: 17px;
      line-height:18px;
  }
  .home_button span:nth-child(3){
    margin-left: -4px;
  }
  .home_button span:nth-child(1){
      background-size: 120px 120px;
  }
  #spinner_left .home_button span:nth-child(3){
      margin-left: -4px; 
    }
  
  #spinner_right .home_button span:nth-child(3){
      margin-left: -4px; 
    }
}

@media (max-width: 500px){
  #cassette{
    height: 150px;
    width: 225px;
    border: 5px gray solid;
    box-shadow: 7px 0px 2px 2px;
    margin: 35% auto 0;
    #home_title_container{
      left: 12%;
      top: 0; 
    }
  }
  #home_title{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: -5px;
  }

  .spinner { 
    border: 2px solid black;
    box-shadow: 2px 2px 4px 5px #5943CC;
  }
  .home_button{
     width:75px;
     height:75px;
     margin:5px;
     box-shadow:0px 0px 1px 0px rgba(15, 15, 15, 0.25) inset, 0px -1px 2px 1px rgba(44, 39, 39, 0.46) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0), 0px 0px 1px 2px rgba(22, 21, 21, 0.91), 0px 0px 0px 3px rgba(49, 48, 48, 0.72);
  }
  .home_button span{
      width:75px;
      height:75px;
      padding:0 0 0 3px;
      font-size:15px;
  }
  .home_button span:nth-child(1), 
  .home_button span:nth-child(3){
      font-size: 13px;
      line-height:13px;
  }
  
  .home_button span:nth-child(1){
      background-size: 60px 60px;
  }
  #spinner_left .home_button span:nth-child(3){
      margin-left: -2px; 
    }
  
  #spinner_right .home_button span:nth-child(3){
      margin-left: -2px; 
    }
}
// original music page



#songtable {
  padding: 0;
  table {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid white;
    tr{
      line-height: 33px; 
      font-weight: bold; 
      th {
        font-size: 30px;
        color: black; 
        a{
          color:black; 
         }
        .glyphicon{
          top: -2px;
          font-size: medium;
          margin-left: 2%; 
        }
      }
      td {
        font-size: 18px;
        .listen {
          text-decoration: none;
        }
        .download {
          border-radius: 100%; 
          height: 25px;
          width: 25px;
          &:active{
            box-shadow: 10px 10px 5px black; 
          }
          .glyphicon{
            top: -2px; 
            margin: -8px -6px -3px;
          }
        }
      }
      .year {
        // color: rgb(207, 96, 75);
        width: 15%; 
      }
      .title{
        width: 40%;
      }
      .artist{
        width: 30%;
      }
    }
    .even {
      background-color: $containerbg;
      color: white; 
      .listen{
        color: white; 
      }
    }

    .odd {
      background-color: white ;
      color: black;
      .listen{
        color: black;
      }
    }
  }
  .pagination{
    display: inline; 
  }
  
  #dl{
    text-align: right;
  }
  

  #songs_search{
    .btn-info{
       margin: 0 0 0 1px;
       box-shadow: none; 
       border:none;
       height:33px;
    }
    #search{
      width: 150px; 
      height:33px;
      border-radius: 10%;

    }
    #search_song_box{
      margin-left: 5px; 
      display: inline-flex;
    }
  }
}





#jp_container_1{
  font-size: 30px;
  border : 2px $containerbg solid;
  margin: 5% auto 2%;
  .jp-type-single{
    border: 1px black solid; 
    box-shadow: 1px 1px 5px black;
  }
  .jp-interface{
    background-color: rgb(234, 238, 241);
  }
  .jp-title{
    background-color: rgba(0, 0, 0, 0.14);
  }
  #jptitle{
    font-family: $mainFont;
    color: $mainGreen;
  }
  #blurb{
    font-size: small; 
    color: black; 
  }
}




// ear training page
#question{
  margin-top: 20px;
  font-size: x-large;
  margin-bottom: 3%;
  #otherChordButtons {
    margin-top: 20px; 
  }
  .choice {
    width: 200px;
    font-size: x-large;
  }
  .wrong {
    text-decoration: line-through; 
    background-color: #A30010;
    background-image: none;
  }
}

#typeTraining button {
  width: 225px;
  border-top: 0;
  &:first-child{
    border-top-left-radius: 0;
  }
  &:last-child{
    border-top-right-radius: 0;
    border-left: 0;
  }
}
#typeQuiz button{
  &:first-child{
    border-bottom-left-radius: 0;
    border-right: 0; 
  }
  &:last-child{
    border-bottom-right-radius: 0;
    border-left: 0; 
  } 
}
#typeTraining button, #typeQuiz button{
  margin: 0; 
}

#sorry {
  color: #A30010;
  font-size: large;
}

#options {
  label {
    font-size: medium;
  }
}

//theory training
.currentQuiz, .currentTraining{
    background-color: $containerbg !important; 
    color: white !important;
    font-weight: bold !important;
    text-shadow: 5px 5px 15px black;
}


#play button{
  &:focus{
    background-color: white;
  }
  &:hover{
    background-color: #ebebeb;
  }
}

#intervaldrop{
  width: auto; 
}

#interval_list{
  li div{
    width: 250px;
    padding: 0 6px; 
    text-align: left; 
    ul li a{
      color: black; 
      &:hover{
        text-decoration: none;
        color: $containerbg; 
      }
    }
  }
}

#quizrow{
  background-color: beige;
  width: auto;
  box-shadow: 3px 3px 10px black;
  margin-top: 5%;
  padding: 3% 0;
}

#submitanswer {
  margin-top: 1%; 
}

#correctanswer {
  margin-top: 1%; 
  pointer-events: none; 
}

#options-title{
  display:  inline;
  top: 5px;
  position: relative;
  margin-right: 50px; 
}

.btn-group button{
  box-shadow: none; 
}

#optionsbox{
  background-color: rgba(245, 245, 220, 0.16);
  width: 100%; 
  button{
    margin-right: -2px; 
  }
}
#checkcolumn {
  margin-bottom: 1%;
  label {
    cursor: pointer; 
    font-size: medium; 
    margin: 15px 4% 0;
    input{
      display: none; 
      &+p{
        color: rgb(109, 96, 96)
      }
    }
    input[type="checkbox"]:checked + p{
      color: white;
      padding: 0 20px;
      margin: 0 -20px 10px;
      text-shadow: 2px 2px 25px black;
    }
  }
}

@media (max-width: 1200px){
  #checkcolumn label {
    margin: 15px 3% 0;
  }
}

@media (max-width: 992px){
  #checkcolumn {
    label{
      margin: 15px 1% 0;
      input[type="checkbox"]:checked + p{
        padding: 0 5px;
        margin: 0 -5px 10px;
      }
    }
  }
  #options-title{
    margin-right: 20px;
  }


}

@media (max-width: 768px){
  #optionsbox{
    text-align: center; 
  }
  .choice{
    padding:2px 0; 
  }
}

@media (max-width: 406px){
  #title{
    font-size: large; 
  }
}

// works to 312px
@media (max-width: 343px){
  #title{
    font-size: medium; 
  }
}

@media (max-width: 520px) and (min-width: 344px){
  #interval_list{
    right: 0;
    left: initial;  
  }
}

// works down to 315 px
@media (max-width: 495px){
  #typeTraining button {
    width: 135px;
  }
  #typeQuiz button{
    width: 90px; 
  }
  .currentQuiz, .currentTraining{
      font-size: 13px;
      height: 33px; 
    }
}
